.baslık {
    margin: auto;
    position: relative;
    text-align: center;
}

.tonseç {
    text-align: center;
    width: 150px;
    margin: auto;
}

.soz {
    position: relative;
    text-align: center;
}